.grid-container {
    display: grid;
    justify-content: center;
    align-items: center;
}

.grid-element {
    font-size: 20px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 10px;
}

button {
    font-size: 20px;
    font-weight: bolder;
    background-color: rgb(245, 30, 6);
    color: white;
    padding: 10px;
    margin:10px;
    border-radius: 10px;
}
button:hover{
    background-color:white;
    color: rgb(245, 30, 6);
    
}

.sliderContainer {
    width: 100%;
    margin: 10px;
}
#gridSlider {
    -webkit-appearance: none;
    width: 20%;
    height: 10px;
    background: #d3d3d3;
    border-radius: 10px;
    opacity: 0.7;
}

#gridSlider::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background:  rgb(245, 30, 6);
    border-radius: 10px;
    cursor: pointer;
    opacity: 1;
}
